#formLogin {
    display: flex;
    align-items: start;
    flex-direction: column;
    align-content: space-between;
    width: 60%;
    color: white;
}

#formLogin input {
    height: 2.3em;
    width: 100%;
    border-radius: 2em;
    margin-bottom: 1em;
    border: none;
}

#formLogin label {
    font-family: interRegular;
    font-weight: lighter;
    margin-bottom: .2em;
}