:root {
    --yellowButton: #e7bb26;
}

.buttonMyList {
    padding: 0 10px;
    margin: 0;
    font-size: .9em;
    font-family: interRegular;
    height: 3em;
    width: 7em;
    border-radius: 15px;
    background-color: var(--yellowButton);
    border: solid rgb(0, 0, 0) 1px;
    cursor: pointer;
}

.buttonTrailer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: interRegular;
    font-size: .9em;
    height: 3em;
    width: 7em;
    border-radius: 15px;
    background-color: #353535;
    color: white;
    border: solid white 1px;
    cursor: pointer;
}

.buttonTrailer img {
    height: 1.5em;
    width: auto;
    padding-right: 8px;
}

.tituloMainBig {
    font-size: 24px;
}