
.buttonYellow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellowButton);
    height: 2.3em;
    border: none;
    border-radius: 200px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}