.buttonYellow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellowButton);
    height: 5.5vh;
    border: none;
    border-radius: 200px;
    padding: 0 20px 0 20px;
    cursor: pointer;
}

#acessarConta {
    color: black;
    font-weight: lighter;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .buttonYellow {
        height: 2.4em;
        width: 9vw;
    }

    #acessarConta {
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .buttonYellow {
        height: 2.4em;
        width: 9vw;
    }

    #acessarConta {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    .buttonYellow {
        height: 2.4em;
        width: 9vw;
    }

    #acessarConta {
        display: none;
    }


}