 .buttonMyList {
     padding: 0 1em;
     font-size: .9em;
     font-family: interRegular;
     height: 3em;
     width: auto;
     border-radius: 15px;
     background-color: var(--yellowButton);
     border: solid rgb(0, 0, 0) 1px;
     cursor: pointer;
 }

 .buttonTrailer {
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 2.7em;
     width: auto;
     border-radius: 15px;
     background-color: #353535;
     color: white;
     border: solid white 1px;
     cursor: pointer;
 }

 .buttonTrailer h2 {
     font-family: interRegular;
     font-weight: lighter;
     font-size: 1em;
     padding-right: 15px;
 }

 .buttonTrailer img {
     height: 1.5em;
     width: auto;
     padding-right: 8px;
     padding-left: 10px;
 }

 .tituloMainBig {
     font-size: 24px;
 }