@import url(./colors.css);

.cardsMovieCategory {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    height: 550px;
    width: 20%;
    margin: 20px 10px;
}

#MoviesCardsImg {
    color: aliceblue;
    height: 100%;
    width: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
}

.descriptionMovie {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F1F1F;
    height: 14em;
    width: 100%;
}

.notaCards {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    font-size: 20px;
    font-family: interRegular;
    height: 40px;
    width: 100%;
    color: white;
}

.cardsTitulo {
    height: 20%;
    width: 100%;
    padding-top: 5px;
    border-top: solid #353535 1px;
    border-bottom: solid #353535 1px;
}



.descriptionMovie .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70%;
    font-family: interLight;
     color: white;
    height: 100px;
    width: 92%;
    text-align: justify;
}

.divButtonCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 17%;
    width: 100%;
}

#starValue {
    height: 1.2em;
    width: auto;
    margin: 5px 20px 0 5px;
}

.cardsTitulo {
    display: flex;
 }

.cardsTitulo h1 {
    font-size: 130%;
    font-weight: lighter;
    color: white;
    margin-left: .8em;
 }

.divButtonCard {
    display: flex;
    border-top: solid #353535 1px;
    background-color: #1F1F1F;
}

#saveMovie {
    margin-left: 10px;
    height: 50px;
    width: auto;
}

#MoviesCardsImg.cardsMovieCategory01 {
    background-image: url(../src/img/capaFilmes/externals.png);
}

#MoviesCardsImg.cardsMovieCategory02 {
    background-image: url(../src/img/capaFilmes/barbie.jpg);
}

#MoviesCardsImg.cardsMovieCategory03 {
    background-image: url(../src/img/capaFilmes/johnwiker.png);
}

#MoviesCardsImg.cardsMovieCategory04 {
    background-image: url(../src/img/capaFilmes/aqueda.png);
}

#MoviesCardsImg.cardsMovieCategory05 {
    background-image: url(../src/img/capaFilmes/batman.png);
}

#MoviesCardsImg.cardsMovieCategory06 {
    background-image: url(../src/img/capaFilmes/psicose.png);
}

#MoviesCardsImg.cardsMovieCategory07 {
    background-image: url(../src/img/capaFilmes/clubedaluta.png);
}

#MoviesCardsImg.cardsMovieCategory08 {
    background-image: url(../src/img/capaFilmes/somdaliberdade.png);
}

#MoviesCardsImg.cardsMovieCategory09 {
    background-image: url(../src/img/capaFilmes/assassinosluadasflores.png);
}

#MoviesCardsImg.cardsMovieCategory10 {
    background-image: url(../src/img/capaFilmes/achamada.png);
}

#MoviesCardsImg.cardsMovieCategory11 {
    background-image: url(../src/img/capaFilmes/frionosossos.png);
}

#MoviesCardsImg.cardsMovieCategory12 {
    background-image: url(../src/img/capaFilmes/encurralados.png);
}

#MoviesCardsImg.cardsMovieCategory13 {
    background-image: url(../src/img/capaFilmes/oPacto.png);
}

#MoviesCardsImg.cardsMovieCategory14 {
    background-image: url(../src/img/capaFilmes/aBailarina.png);
}

#MoviesCardsImg.cardsMovieCategory15 {
    background-image: url(../src/img/capaFilmes/aMae.png);
}

#MoviesCardsImg.cardsMovieCategory16 {
    background-image: url(../src/img/capaFilmes/substitutos.png);
}