.divHorizontal .sectionName {
    height: 50px;
    width: 95%;
    margin: auto;
    background-color: blue;
}

.cardIndex {
    width: 30vw;
}

.cardHorizontal--index {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: auto;
    width: 100%;
    column-gap: 2em;
}

.descripIndex {
    width: 95%;
}

.descripIndex h1 {
    margin: 10px 0;
    color: var(--yellowButton);
    font-size: 1.1em;
    font-family: interRegular;
    font-kerning: none;
    width: 100%;
}

.descripIndex h2 {
    color: white;
    font-size: 1em;
    font-family: interLight;
    font-weight: lighter;
    margin-bottom: 30px;
    width: 100%;
}

.cardHorizImg {
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.cardHorizImg#index01 {
    background-image: url(../src/img/cardHorizontalIndex/01.png);
}

.cardHorizImg#index02 {
    background-image: url(../src/img/cardHorizontalIndex/02.png);
}

.cardHorizImg#index03 {
    background-image: url(../src/img/cardHorizontalIndex/03.png);
}

.playTime {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 15px;
}

.playTime img {
    margin-left: 20px;
    margin-right: 5px;
}

.playTime h2 {
    font-family: interLight;
    font-weight: lighter;
}

.cardIndexHorizontal {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid #313131;
}

@media only screen and (max-width: 1023px) {
    .cardHorizImg {
        height: 18vh;
    }

    .cardHorizontal--index {
        column-gap: 1em;
    }

    .cardIndexHorizontal {
        flex-wrap: wrap;
    }

    .descripIndex h2 {
        margin-bottom: unset;
    }
}

@media only screen and (max-width: 767px) {
    .cardHorizontal--index {
        height: auto;
        column-gap: .6em;
    }

    .cardHorizImg{
        height: 24vh;
    }


 
}