 .featureVideos {
     display: flex;
     justify-content: space-evenly;
     min-height: 90vh;
     width: 100%;
     background-color: rgb(0, 0, 0);
 }

 #featureVideos01 {
     height: 76vh;
     width: 65%;
 }

 #featureVideos02 {
     height: 76vh;
     width: 30%;
 }

 .sectionName {
     display: flex;
     align-items: center;
     width: auto;
     height: 7%;
     margin: 10px 0;
 }

 .sectionName h1 {
     margin-left: 10px;
     font-size: 22px;
     color: white;
 }

 .sectionName #divYellow {
     height: 30px;
     width: 7px;
     border-radius: 2px;
     margin: 0;
 }

 .cardPrincipal {
     height: 100%;
     width: 100%;
 }

 #carPrincipalImg {
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-image: url(../src/img/cardPrincipal.png);
     background-position: center center;
 }

 #movieIconMain {
     height: 70px;
     width: auto;
     margin-right: 10px;
 }

 #titleMain h1 {
     font-size: 35px;
     color: var(--yellowButton);
 }

 #titleMain h2 {
     color: white;
 }

 .tituloMainBig {
     margin-left: 1rem;
     display: flex;
     flex-direction: row;
     align-self: flex-start;
     margin-bottom: 2rem;
     height: auto;
     width: auto;
     display: flex;
 }

 #arowLeftRight {
     position: absolute;
     display: flex;
     top: 45%;
     align-items: center;
     justify-content: space-between;
     height: 14vh;
     width: 55%;
 }

 .btnMain {
     height: 70px;
     width: auto;
     cursor: pointer;
 }

 #card02 {

     height: 100%;
 }

 .latMain {
     display: flex;
     flex-direction: row;
     align-items: stretch;
     background-color: #1F1F1F;
     border-bottom: 1px solid #313131;
     height: 33.3%;
 }

 .capFilm {
     background-size: contain;
     background-repeat: no-repeat;
     height: 90%;
     width: 30%;
     margin-left: .5em;
     margin-top: .5em;
     background-color: #888888;
     background-position: center center;
     background-size: cover;
 }

 .capFilmDescription {
     display: flex;
     flex-direction: column;
     height: 60%;
     width: 100%;
 }

 .capFilmDescription h1 {
    margin-top: .5em;
     color: var(--yellowButton);
     font-size: 1em;
 }

 .capFilmDescription h2 {
     padding-top: 5px;
     color: white;
     font-size: .8em;
 }

 #minutsMovie {
     margin-left: 10px;
     color: white;
 }

 #movieCardMain {
     display: flex;
     align-items: center;
     width: 100%;
     height: 100%;
     margin-top: 1em;
 }

 #movieCardMain img {
     height: 2.2em;
 }

 #cardsFeature {
     height: auto;
     width: 65%;
     margin-left: 10px;
     margin-right: 10px;
     display: flex;
     flex-direction: column;
 }

 .capFilm#capFilm01 {
     background-image: url(../src/img/cardsMain/card01.png);
 }

 .capFilm#capFilm02 {
     background-image: url(../src/img/cardsMain/card02.png);
 }

 .capFilm#capFilm03 {
     background-image: url(../src/img/cardsMain/card03.png);
 }

 #movieCardMain h2 {
     font-family: interLight;
     font-weight: lighter;
 }