header {
    height: 12vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#userMenu {
    margin-right: 10px;
}

.divMenuHeader {
    display: flex;
    color: white;
    margin-right: 3%;
    margin-left: 20px;
}

#menuHeader {
    margin-right: 15px;
}

.logotypeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
}

.logotype{
    height: 2em;
}

 