header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #313131;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#userMenu {
    margin-right: 10px;
    height: auto;
}

.divMenuHeader {
    display: flex;
    color: white;
}

#menuHeader {
    margin-right: 15px;
}

.logotypeHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
}

.logotype{
    height: 5vh;
}

 