@import url(./colors.css);

.imgCategory {
    height: 711px;
    width: 100%;
    background-image: url(../src/img/supense.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
 }

#dividingBar {
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 100%;
    margin-bottom: 160px;
}

#dividingBar h1,
#dividingBar h2 {
    font-family: interLight;
    margin-left: 20px;
    font-weight: lighter;
    color: white;
    font-size: 1.3em;
}
#dividingBar h1{
    font-family: interExtraBold;
    font-weight: bolder;
    font-size: 3.2em;
}
.categoryDescription {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

#divYellow {
    margin-left: 120px;
    margin-top: 10px;
    background-color: var(--yellowButton);
    color: var(--yellowButton);
    height: auto;
    width: 8px;
    border-radius: 5px;
}

#descriptionMovieMain {
    height: 70px;
    width: 100vw;
}