input {
    height: 2.1em;
    width: 40em;
    border-radius: 1em;
    padding-left: 20px;
    color: var(--yellowButton);
    font-family: interBold;
}

input::placeholder{
   color: rgb(189, 189, 189);
}

#searchHeader {
    cursor: pointer;
    height: 2em;
    background-color: white;
    position: relative;
    right: 50px;
}

.searchHeaderIcon{
    display: flex;
    align-items: center;
    width: 50%;
}