input {
    height: 5.5vh;
    width: 46vw;
    border-radius: 1em;
    color: var(--yellowButton);
    font-family: interBold;
    padding-left: 1em;
}

input::placeholder {
    color: rgb(189, 189, 189);
    padding-left: 1em;
}

#searchHeader {
    cursor: pointer;
    height: 1.8em;
    background-color: white;
    position: relative;
    display: flex;
    position: absolute;
    z-index: 1;
    margin-right: 2vw;
}

.searchHeaderIcon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logotype {
        height: 1.8em;
    }

    input {
        width: 37vw;
        height: 50%;
    }
}

@media only screen and (max-width: 767px) {
    .logotype {
        display: none;
    }

    input {
        width: 58vw;
        height: 50%;
    }

    #searchHeader {
        margin-right: 4vw;
    }
}