input[type="text"] {
    height: 2.1em;
    width: 40em;
    border-radius: 1em;
}

#searchHeader {
    height: 2em;
    background-color: white;
    position: relative;
    right: 50px;
}

.searchHeaderIcon{
    display: flex;
    align-items: center;
}