@font-face {
    font-family: interBlack;
    src: url(./font/Inter-Black.ttf);
}

@font-face {
    font-family: extraLight;
    src: url(./font/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: interLight;
    src: url(./font/Inter-Light.ttf);
}

@font-face {
    font-family: interRegular;
    src: url(./font/Inter-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 10%;
    width: 100%;
    background-color: rgb(26, 26, 26);

}

#searchMovie {
    display: flex;
    position: relative;
    right: 550px;
    color: #E7BB26;
    margin-right: 20px;
    font-family: interRegular;
    font-weight: lighter;
}

input {
    height: 2.3em;
    width: 30em;
}

#lupa {
    height: 2.2em;
}

button {
    height: 2.7em;
    background-color: #E7BB26;
    margin-right: 50px;
    width: 10em;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 55%;
    width: 100%;
    background-color: rgb(101, 101, 153);
}

#imgCapa {
    width: auto;
    height: 90%;
    margin-left: 3em;
}

.resulApi {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#dadosApi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 94%;
    width: 32em;
    margin-left: 1em;
    gap: 10px;
}

#inforFilme {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 0 10px 0 10px;
}

#inforFilme h2 {
    font-size: 1.2em;
}

#mln {
    color: #E7BB26;
    margin-bottom: 1em;
}

#plotFilme {
    text-indent: 3em;
    font-weight: lighter;
    text-align: justify;
}

#planoFundo {
    background-image: url(./img/01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



#imageFundo {
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    height: 100%;
}

h1 {
    font-family: interBlack;
    color: white;
}

h2 {
    font-family: interRegular;
    color: white;
}

h3 {
    font-family: interRegular;
    color: white;
}

#imgCard {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 13em;
    position: relative;
    top: 7px;
}

#imgCard img {
    height: 12em;
    width: 9em;
    margin: 0 8px;
}