@import url(../style.css);



body {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    width: 100vw;
}

#searchMovie {
    display: flex;
    position: relative;
    right: 550px;
    color: #E7BB26;
    margin-right: 20px;
    font-family: interRegular;
    font-weight: lighter;
}

#lupa {
    height: 2.2em;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 59%;
    width: 100%;
    background-color: rgb(101, 101, 153);
}

#imgCapa {
    visibility: hidden;
    width: auto;
    height: 20rem;
    margin-left: 3em;
}

.resulApi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#dadosApi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-between;
    height: 90%;
    width: 64em;
    margin-left: 1em;
    gap: 5px;
}



#inforFilme {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2em;
    padding: 0 10px 0 10px;
}

#inforFilme h2 {
    font-size: 1.2em;
}

#plotFilme {
    margin-top: .6em;
    text-indent: 3em;
    font-weight: lighter;
    text-align: justify;
    height: 45%;

}

#planoFundo {
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



#imageFundo {
    background-color: rgba(0, 0, 0, 0.911);
    width: 100%;
    height: 100%;
}

h1 {
    font-family: interBlack;
    color: white;
}

h2 {
    font-family: interRegular;
    color: white;
}

h3 {
    font-family: interRegular;
    color: white;
}

#imgCard {
    margin-top: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    position: relative;
}

#imgCard img {
    height: 10em;
    width: 8em;
}

#movieTitle {
    margin-right: 1em;
}

#sobreFilme {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    column-gap: 15px;
}

.sobreFilmeInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sobreFilmeInfo h1 {
    color: rgb(194, 49, 49);
    font-family: interLight;
    font-weight: lighter;
}

.sobreFilmeInfo h2 {
    box-sizing: border-box;
    color: #E7BB26;
    width: 100%;
    font-family: interLight;
    font-weight: lighter;
    font-size: .9em;
}

.barraInfo {
    display: flex;
    align-items: center;
    padding: 01.5em;
}

.barraInfo img {
    height: 1.5em;
    margin-right: .5em;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        height: auto;
    }

    .resulApi {
        padding: 1em 0;
        height: unset;
    }

    #imgCard {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.1em;
        margin-top: 1em;
    }

    .barraInfo {
        padding: unset;
    }

    #plotFilme,
    #notaFilme {
        margin-right: 1.2em;
    }

    #inforFilme h2 {
        font-size: 1em;
    }

    #sobreFilme {
        margin-top: .5em;
    }
}


@media only screen and (max-width: 767px) {
    .resulApi {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    #imgCapa {
        margin-left: unset;
        height: auto;
        width: 100vw;
    }

    main {
        height: auto;
    }

    #dadosApi {
        height: auto;
        width: 100vw;
    }

    #planoFundo {
        height: auto;
    }

    body {
        height: auto;
    }

    .barraInfo {
        flex-wrap: wrap;
        padding: .5em;
    }

    #inforFilme {
        height: auto;
    }

    #barra02,
    #barra03 {
        display: none;
    }

    #plotFilme {
        height: auto;
        width: 96vw;
    }

    #imgCard {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #imgCard img {
        height: auto;
        width: 11em;
    }
}