@import url(../style.css);
@import url(../cssGlobal/header.css);
@import url(../cssGlobal/inputText.css);
@import url(../cssGlobal/imgSlide.css);
@import url(../cssGlobal/cardsMovie.css);

.cardCategory{
    height: 2900px;
    width: 100%;
    background-color: aquamarine;
}