@import url(../style.css);

.cardCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: auto;
    height: auto;
    width: 90%;
    background-color: rgb(0, 0, 0);
}